.main-background {
  background: linear-gradient(211deg, #ff9890, #90f1ff, #cb90ff, #ff90c7, #a1f2b8);
  background-size: 1000% 1000%;
  min-height: 100vh;

  -webkit-animation: BrainwavesBackground 5s ease infinite;
  animation: BrainwavesBackground 5s ease infinite;
}

@-webkit-keyframes BrainwavesBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes BrainwavesBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}